*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

  .container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(45deg, lightblue, rgb(252, 81, 166));
    padding: 10px;
  }
  .Todo_app{
    background-color: white;
    width:100%;
    max-width: 540px;
    border-radius: 8px;
    margin:100px auto 20px;
    padding: 40px 30px 70px; 
    border-radius: 10px;
  }
  .Todo_app h2{
    color:#814078;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

  }
  .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
  }
  input{
    flex:1;
    border:none;
    outline: none;
    background: transparent;
    padding:10px;
    font-weight: 14px;
  }
  button{
    border:none;
    outline:none; 
    padding:16px 50px;
    border-radius:40px;
    background-color: #814078;
    color:white;
    font-size: 16px;
    cursor: pointer;
  }
  ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 10px;
    user-select: none;
    cursor:pointer;
    position: relative;
  }
  .done{
    text-decoration: line-through #814078 solid 2px;

  }
  ul li span {

    position: relative;
    text-align: center;
    font-size: 14px;
    height:30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    display:inline-block;    
  }
  ul li span:hover{
    background-color:#814078;
    color:white;
  }
